*{
  font-family: Tahoma;
}
p{
  margin:0
}
header{
  background: #424141;
  color: snow;
  height: calc(7vh + 2vmin);
  display: flex;
  align-items: center;
  font-size: calc(9px + 3vmin);
  justify-content: center;
}
button{
  cursor: pointer;
}